@use '../abstracts' as *;

.about {
  height: 100vh;
  width: 100%;

  display: flex;
  justify-content: space-between;
  gap: 5rem;
  max-width: 150rem;
  margin-inline: auto;
  padding-inline: 10%;

  // background-color: red;

  overflow-x: hidden;
  overflow-y: scroll;
  @include mq($breakpoint-small) {
    overflow-y: scroll;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.profile {
  position: sticky;
  top: 0;
  text-align: right;

  // background-color: red;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &-picture {
    margin-top: 18vh;
    width: 30vmin;
    height: 65vh;
    float: right;

    object-fit: cover;
  }

  .logo {
    // display: none;
    font-family: $font-family-black;
    font-size: $body-font-size-focus;
    font-weight: $body-font-weight-bold;
    // text-align: right;
    overflow: hidden;

    p {
      display: inline-block;
      animation: trackLoad 2s both;
    }
  }

  .title {
    display: none;
    // text-align: right;
    font-size: $font-size-600;
  }

  .location {
    display: none;
    text-align: right;
  }
  .email {
    display: none;
    text-align: right;
  }

  @include mq($breakpoint-small) {
    display: none;
  }
}

.biography {
  // background-color: red;
  margin-block: 45vh;

  @include mq($breakpoint-small) {
    margin-block: 25vh;
  }

  height: fit-content;
  font-size: $body-font-size-focus;
  font-weight: $body-font-weight-bold;

  a {
    text-decoration: none;
  }
  li {
    list-style: none;
  }
}

.default,
.default-last > li > div:not(:first-child) {
  font-size: $body-font-size-bold;
  font-weight: $body-font-weight-default;
}

.passive {
  opacity: $opacity-passive;
  transition: opacity 0.5s;

  &:hover {
    opacity: 1;
  }
}

.active {
  @keyframes textHighlight {
    0% {
      opacity: $opacity-passive;
    }
    100% {
      opacity: 1;
    }
  }
  animation: textHighlight 1s both 1s;
}

.header {
  .paragraph:last-child {
    margin-top: $paragraph-margin-spacing;
  }

  div {
    overflow: hidden;
  }

  .span-1 {
    display: inline-block;
    animation: trackLoad 2s both;
    animation-delay: 0;
  }
  .span-2 {
    display: inline-block;
    animation: trackLoad 2s both;
    animation-delay: 0.1s;
  }
  .span-3 {
    display: inline-block;
    animation: trackLoad 2s both;
    animation-delay: 0.2s;
  }
  .span-4 {
    display: inline-block;
    animation: trackLoad 2s both;
    animation-delay: 0.3s;
  }
}

.section {
  display: flex;
  flex-direction: column;
  gap: $paragraph-margin-spacing;
  // background-color: blue;

  &-content {
    width: 80%;
    margin-left: auto;
    // background-color: red;

    &.spacing li:not(:first-child) {
      margin-top: $paragraph-margin-spacing;
    }
  }
}
