@use '../abstracts' as *;

@property --gradient-angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

@keyframes rotation {
  0% {
    --gradient-angle: 0deg;
  }
  100% {
    --gradient-angle: 360deg;
  }
}

@keyframes blur {
  0% {
    filter: blur(0.65rem);
  }
  100% {
    filter: blur(2rem);
  }
}

.button {
  display: inline-flex;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;

  position: relative;

  font-family: $button-font-family;
  font-size: $button-font-size;
  font-weight: $button-font-weight;

  padding: $button-padding-default;
  text-transform: $button-text-transform;
  border: $button-border-default;
  border-radius: $button-border-radius;
  transition: $button-transition;

  &[data-type='primary'] {
    background-color: $button-primary-background;
    color: $button-primary-color;

    &:is(:hover, :focus) {
      background: $button-primary-background-hover;
      color: $button-primary-color-hover;
    }
  }

  &[data-type='accent'] {
    background: $button-accent-background;
    color: $button-accent-color;

    &:is(:hover, :focus) {
      background: $button-accent-background-hover;
      color: $button-accent-color-hover;
    }
  }

  &[data-type='gradient'] {
    background: $button-gradient-background;
    color: $button-gradient-color;
    transition: background 400ms;

    &::before,
    &::after {
      content: '';
      z-index: -1;
      position: absolute;
      border-radius: inherit;
      inset: $button-gradient-border-width;
      background: conic-gradient(
        from var(--gradient-angle),
        $button-gradient-conic
      );
      animation: rotation 20s linear infinite;
    }

    &::after {
      opacity: 0.65;
      filter: blur(0.65rem);
      // transition: filter 500ms;
      // animation: blur 3s alternate infinite;
    }

    &:is(:hover, :focus) {
      background: $button-gradient-background-hover;
      color: $button-gradient-color-hover;

      &::after {
        opacity: 0.75;
        // filter: blur(2rem);
        animation: blur 1.5s alternate infinite;
      }
    }
  }
}
