@use '../abstracts' as *;

@keyframes herotextLoad {
  0% {
    transform: translate(-50%, -50%) scale(1.5);
  }
  100% {
    transform: translate(-50%, -50%) scale(2);
  }
}
@keyframes herotextLoadMobile {
  0% {
    transform: translate(-50%, -50%) scale(0.75);
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1);
  }
}

.hero-text {
  // background-color: red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(2);
  animation: herotextLoad 2s;

  @include mq($breakpoint-small) {
    animation: herotextLoadMobile 3s;
    transform: translate(-50%, -50%) scale(1.1);
  }

  font-family: $font-family-black;
  font-size: $body-font-size-extra-focus;
  font-weight: $body-font-weight-bold;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
  pointer-events: none;
  // transition: 2s;

  div {
    overflow: hidden;
    height: fit-content;
    margin: 0;
  }

  span {
    display: block;
    transition: transform 1.25s;
  }
  div:first-child span {
    transform: translateY(100%);
  }
  div:last-child span {
    transform: translateY(-100%);
  }
}

.selected {
  .hero-text {
    pointer-events: visible;
    cursor: pointer;

    // &:hover {
    //   letter-spacing: 0.5rem;
    // }
    span {
      transition: transform 2s 0.5s;
      transform: translateY(0) !important;
    }
  }
}
