@use '../abstracts' as *;

.image-track {
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: 2s;
}

.image {
  cursor: pointer;

  position: absolute;
  width: $image-clip-width-default;
  min-width: $image-clip-width-min;
  clip-path: $image-clip-height-default;
  height: $image-clip-height-hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @for $i from 1 through 8 {
    &:nth-child(#{$i}) {
      transform: translate(($i - 1) * (100% + $image-gap), 0%);
      img {
        object-position: (50% + calc(50% / 7) * ($i - 1)) center;
      }
    }
  }

  transition: $image-transition-transform, $image-transition-width,
    $image-clip-selected-height-hidden-transition, $image-transition-height,
    opacity 1s;
}

// .image[data-type='unfinished'] {
//   opacity: $opacity-active;

//   &:hover {
//     opacity: 1;
//   }
// }

.selected {
  cursor: default;

  z-index: 99;
  width: $image-clip-selected-width;
  height: $image-clip-selected-height-hidden;
  clip-path: $image-clip-selected-height;
  transition: $image-clip-selected-width-transition,
    $image-clip-selected-height-hidden-transition,
    $image-clip-selected-height-transition;
}

.others {
  clip-path: $image-clip-other-height;
}
