@use '../abstracts' as *;

#image-track {
  // background: red;
  position: relative;
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  position: absolute;
  width: $image-clip-width-default;
  height: $image-clip-height-hidden;
  clip-path: $image-clip-height-default;

  object-fit: cover;
  // object-position: $image-object-position-default;

  @for $i from 1 through 8 {
    &:nth-child(#{$i}) {
      transform: translate(($i - 1) * (100% + $image-gap), 0%);
      object-position: (50% + calc(50% / 7) * ($i - 1)) center;
    }
  }

  transition: $image-transition-transform, $image-transition-width,
    $image-clip-height-hidden-selected-transition, $image-transition-height;
}

.selected {
  z-index: 99;
  width: $image-clip-width-selected;
  height: $image-clip-height-hidden-selected;
  clip-path: $image-clip-height-selected;
  transition: $image-clip-width-selected-transition,
    $image-clip-height-hidden-selected-transition,
    $image-clip-height-selected-transition;
}

.others {
  clip-path: $image-clip-height-others;
}
