@use '../abstracts' as *;

#links {
  display: flex;
  gap: $link-flex-gap;
  margin-inline: auto;
  align-items: center;
  width: fit-content;
  margin-bottom: $link-margin-bottom;
  transition: opacity 500ms 500ms;
}

.link {
  width: $link-width;
  height: $link-height;
  opacity: $link-opacity-passive;
  transition: opacity 500ms;

  &:is(:hover, :focus) {
    opacity: 1;
  }
}
