@use '../abstracts' as *;

#menu {
  cursor: pointer;
  display: none;

  @include mq($breakpoint-medium) {
    display: block;
    stroke: $hamburger-color;
  }

  @include mq($breakpoint-small) {
  }
}
