@use '../abstracts' as *;

.navigation {
  --flex-column-gap: #{$navigation-flex-column-gap};
  ul {
    list-style: none;
  }

  a {
    text-decoration: none;
    text-transform: $navigation-text-transform;
    color: $navigation-color;
    font-family: $navigation-font-family;
    font-size: $navigation-font-size;
    font-weight: $navigation-font-weight;
    opacity: $navigation-opacity-passive;
    transition: opacity $navigation-opacity-transition;

    &:is(:hover, :focus) {
      opacity: 1;
    }
  }
}
