@use '../abstracts' as *;

@keyframes buttonLoad {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
}

#check {
  display: none;
}

.navigation {
  --flex-column-gap: #{$navigation-flex-column-gap};
  --flex-row-gap: #{$overlay-flex-row-gap};

  .button[data-type='gradient'] {
    display: none;
  }
  .location {
    display: none;
  }
  ul {
    list-style: none;
    height: fit-content;
  }

  a,
  #Gallery {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    text-transform: $navigation-text-transform;
    color: $navigation-color;
    font-family: $navigation-font-family;
    font-size: $navigation-font-size;
    font-weight: $navigation-font-weight;
    opacity: $navigation-opacity-passive;
    transition: opacity $navigation-opacity-transition;

    &:is(:hover, :focus) {
      opacity: 1;
    }

    &::after {
      background: $navigation-color;
      content: '';
      position: absolute;

      height: $navigation-hover-line-height;
      left: 0;
      bottom: -0.3rem;
      width: 0%;
      transition: width 300ms;
    }

    &:hover::after {
      width: 100%;
    }
  }

  @include mq($breakpoint-medium) {
    // Mobile Menu Overlay
    z-index: -1;
    // opacity: 0;
    position: fixed;

    top: -110%;
    left: 0;
    width: 100%;
    height: 100vh;
    min-height: 25rem;
    background: $overlay-background-color-default;
    padding-top: 5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    transition: $overlay-top-transition;

    ul {
      display: flex;
      flex-direction: column;
      width: 80%;
      text-align: right;
      a,
      #Gallery {
        font-size: $overlay-font-size;
        width: fit-content;
        transition: $overlay-opacity-transition;
        clip-path: inset(0 0 0 100%);
      }
    }
    .button[data-type='gradient'] {
      display: inline-flex;
      opacity: 0;
      width: fit-content;
      font-size: $overlay-font-size;
    }
    .location {
      display: flex;
      position: absolute;
      bottom: 0;
      width: 100%;
      margin-inline: auto;
      margin-block: 4vmin;

      // TRANSITION
      opacity: 0;
    }
  }
}

#check:checked ~ .navigation {
  @include mq($breakpoint-medium) {
    // opacity: 1;
    top: 0;

    a,
    #Gallery {
      clip-path: inset(0 0 0 -10%);
      transition: clip-path 500ms 500ms;
    }

    .button[data-type='gradient'] {
      opacity: 1;
    }

    .location {
      // TRANSITION
      opacity: $opacity-active;
      transition: opacity 500ms 500ms;
    }
  }
}
