@use '../abstracts' as *;

.primary-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-inline: auto;
  margin-block: $primary-footer-margin-block;

  // @include mq($breakpoint-small) {
  //   position: static;
  //   margin-block: $primary-footer-margin-block-mobile;
  // }
}

#links {
  display: flex;
  gap: $link-flex-gap;
  margin-inline: auto;
  margin-block: $link-margin-block;

  width: fit-content;
  transition: opacity 500ms 500ms;
  @include mq($breakpoint-small) {
    margin-block: $link-margin-block-mobile;
  }
}

.link {
  width: $link-width;
  height: $link-height;
  opacity: $link-opacity-passive;

  clip-path: inset(0 0 0 0);

  @for $i from 1 through 4 {
    &:nth-child(#{$i}) {
      transition: clip-path 500ms (200ms * $i), opacity 250ms;
    }
  }

  &:is(:hover, :focus) {
    opacity: 1;
  }
  @include mq($breakpoint-medium) {
    opacity: $opacity-active;
  }
}

.location {
  display: flex;
  justify-content: center;
  gap: $size-2;
  margin-inline: auto;
  opacity: $opacity-active;

  .link {
    opacity: $opacity-active;
  }
  p {
    width: fit-content;
  }
  @include mq($breakpoint-medium) {
    display: flex;
    opacity: $opacity-active;
  }
}

#copyright {
  width: fit-content;
  margin: auto;
  opacity: $opacity-passive;
  transition: 1s;
  @include mq($breakpoint-medium) {
    opacity: $opacity-passive;
  }
}

// Links fade out
.fade-out {
  // opacity: 0;
  .link {
    clip-path: inset(100% 0 100% 0);
  }
  // @include mq($breakpoint-small) {
  //   opacity: $opacity-active;
  // }
}

// // Copyright highlight
// #copyright.opacity-increase {
//   opacity: $opacity-passive;
// }
