@use '../abstracts' as *;

.primary-header {
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: $primary-header-margin-top;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
