@use '../abstracts' as *;

.primary-header {
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: $primary-header-padding-top;
  // transition: $primary-header-transition;

  transition: transform 1s;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.remove-overlay-top .primary-header {
  transform: translate3d(0, -100%, 0);
}
