@use '../abstracts' as *;

.primary-header {
  // background-color: red;
  z-index: 9999;
  position: fixed;
  top: 0;
  width: 100%;
  padding-top: $primary-header-padding-top;
  // transition: $primary-header-transition;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
