@use '../abstracts' as *;

.primary-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-inline: auto;
  margin-block: $primary-footer-margin-block;

  // @include mq($breakpoint-small) {
  //   position: static;
  //   margin-block: $primary-footer-margin-block-mobile;
  // }
}

#copyright {
  width: fit-content;
  margin: auto;
  opacity: $opacity-passive;
  overflow: hidden;
  @include mq($breakpoint-medium) {
    opacity: $opacity-passive;
  }

  p {
    // transition: 1s;
  }
  &.fade-out {
    display: none;
    p {
      opacity: 0;
    }
  }
}

// // Copyright highlight
// #copyright.opacity-increase {
//   opacity: $opacity-passive;
// }
