@use '../abstracts' as *;

.store-grid {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    'a a b e'
    'c d d e';

  padding-block: 18vh;
  width: 80%;
  max-width: 75rem;
  margin-inline: auto;

  @include mq($breakpoint-medium) {
    grid-template-areas:
      'a a d'
      'c b d'
      'e e e';
  }
  @include mq($breakpoint-small) {
    grid-template-areas:
      'a a'
      'c d'
      'b d'
      'e e';
  }
}

.store {
  padding-block: 15.5vh;
  @include mq($breakpoint-medium) {
    padding-block: 10vh;
  }
  @include mq($breakpoint-small) {
    padding-block: 7vh;
  }
  background-color: grey;

  .bi {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
  }

  &:nth-child(1) {
    .bi {
      background-image: url(../../images/img1.jpg);
    }
    grid-area: a;
  }
  &:nth-child(2) {
    .bi {
      background-image: url(../../images/img2.jpg);
    }
    grid-area: b;
  }
  &:nth-child(3) {
    .bi {
      background-image: url(../../images/img3.jpg);
    }
    grid-area: c;
  }
  &:nth-child(4) {
    .bi {
      background-image: url(../../images/img4.jpg);
    }
    grid-area: d;
  }
  &:nth-child(5) {
    .bi {
      background-image: url(../../images/img5.jpg);
    }
    grid-area: e;
  }

  // Hover
  transform: scale(1);
  overflow: hidden;
  .bi {
    transition: transform 0.75s ease;
    transform: scale(1);
  }

  &:hover {
    .bi {
      z-index: 99;
      transform: scale(1.25);
    }
  }
}
