@use '../abstracts' as *;

// .grid-col-span-2 {
//   grid-column: span 2;
// }

.store-grid {
  display: grid;
  gap: 1.5rem;
  grid-auto-columns: 1fr;
  grid-template-areas:
    'a a b e'
    'c d d e';

  padding-block: 18vh;
  width: 80%;
  margin-inline: auto;

  @include mq($breakpoint-medium) {
    grid-template-areas:
      'a a d'
      'c b d'
      'e e e';
  }
  @include mq($breakpoint-small) {
    grid-template-areas:
      'a a'
      'c d'
      'b d'
      'e e';
  }
}

.store {
  padding-block: 15.5vh;
  @include mq($breakpoint-medium) {
    padding-block: 10vh;
  }
  @include mq($breakpoint-small) {
    padding-block: 7vh;
  }

  background-color: grey;
  background-position: center;
  background-size: cover;

  &:nth-child(1) {
    background-image: url(../../images/img1.jpg);
    grid-area: a;
  }
  &:nth-child(2) {
    background-image: url(../../images/img2.jpg);
    grid-area: b;
  }
  &:nth-child(3) {
    background-image: url(../../images/img3.jpg);
    grid-area: c;
  }
  &:nth-child(4) {
    background-image: url(../../images/img4.jpg);
    grid-area: d;
  }
  &:nth-child(5) {
    background-image: url(../../images/img5.jpg);
    grid-area: e;
  }
}
