@use '../abstracts' as *;

html {
  // -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: $body-font-family;
  font-weight: $body-font-weight-default;
  font-size: $body-font-size-default;
  color: $body-color-default;
  background-color: $body-background-color-default;
  line-height: $body-line-height;
}

a {
  color: $link-color;
}

a:is(:hover, :focus) {
  color: $link-color-hover;
}
