<div
  id="about"
  class="about | page"
  data-mouse-down-at="0"
  data-prev-percentage="0"
  data-percentage="0"
  ;
>
  <div class="profile">
    <img
      src="/images/profile-picture.jpg"
      alt="picture of CalebWONG"
      class="profile-picture | intro-load"
      draggable="false"
    />
    <div class="logo">
      <p>CalebWONG</p>
    </div>
    <p class="title">Visual Developer, Illustrator, Storyteller</p>
    <div class="location">
      <img class="link" src="./images/location.svg" alt="location" />
      <p>Ipoh, Malaysia</p>
    </div>
    <div class="email">
      <img class="link" src="./images/email.svg" alt="email address" />
      <p>contact@calebwong.studio</p>
    </div>
  </div>
  <div id="biography" class="biography | active">
    <header class="header">
      <div class="paragraph">
        <div>
          <span class="span-1">I’m an Independent VISUAL DESIGNER</span>
        </div>
        <div>
          <span class="span-2">and DEVELOPER with specialty in </span>
        </div>
        <div>
          <span class="span-3">conveying STORY through unique </span>
        </div>
        <div>
          <span class="span-4">visual experiences. </span>
        </div>
      </div>
      <div class="paragraph">
        <div>
          <span class="span-1">My work has a strong focus for</span>
        </div>
        <div>
          <span class="span-2">MEANING which is the core essence</span>
        </div>
        <div>
          <span class="span-3">of every unique story. I would LOVE</span>
        </div>
        <div>
          <span class="span-4">to hear your story.</span>
        </div>
      </div>
    </header>
    <section class="section">
      <h2>Freelancing Services</h2>
      <ul class="section-content spacing | default-last">
        <li>
          <div>Web Development</div>
          <div class="passive">Landing Page</div>
          <div class="passive">UI &amp; UX Design</div>
          <div class="passive">CSS Development</div>
        </li>
        <li>
          <div>Illustrations</div>
          <div class="passive">Cover Illustration</div>
          <div class="passive">Concept Art</div>
          <div class="passive">Character Design</div>
          <div class="passive">Visual Development</div>
        </li>
        <li>
          <div>Branding &amp; Marketing</div>
          <div class="passive">Brand Design</div>
          <div class="passive">Social Media Marketing</div>
        </li>
      </ul>
    </section>
    <section class="section">
      <h2>Past Projects</h2>
      <ul class="section-content spacing | default-last">
        <li>
          <div>Freelance Designer &amp; Illustrator</div>
          <div class="passive">2022 Jun &nbsp; — &nbsp; 2023 Mar</div>
        </li>
        <li>
          <a href="https://calebwong.studio" target="_blank" rel="noopener"
            >Personal Website</a
          >
          <div class="passive">2023 Mar &nbsp; — &nbsp; 2023 May</div>
        </li>
      </ul>
    </section>
    <section class="section">
      <h2>Get In Touch</h2>
      <ul class="section-content | default">
        <li>
          <a class="passive" href="mailto:contact@calebwong.studio">Email</a>
        </li>
        <li>
          <a
            class="passive"
            href="https://twitter.com/CalebW0ng"
            target="_blank"
            rel="noopener"
            >Twitter</a
          >
        </li>
        <li>
          <a
            class="passive"
            href="https://www.instagram.com/caleb_w0ng"
            target="_blank"
            rel="noopener"
            >Instagram</a
          >
        </li>
        <li>
          <a
            class="passive"
            href="https://facebook.com/CalebW0NG"
            target="_blank"
            rel="noopener"
            >Facebook</a
          >
        </li>
        <li>
          <a
            class="passive"
            href="https://discord.gg/E7KZBc6T"
            target="_blank"
            rel="noopener"
            >Discord</a
          >
        </li>
      </ul>
    </section>
    <!-- <section class="section">
      <h2>Credits</h2>
      <ul class="section-content spacing | default-last">
        <li>
          <div>Camille Mormal</div>
          <div>
            <a
              class="passive"
              href="https://camillemormal.com"
              target="_blank"
              rel="noopener"
              >Design Inspiration</a
            >
          </div>
        </li>
      </ul>
    </section> -->
  </div>
</div>
