<div
  id="about"
  class="about | page"
  data-mouse-down-at="0"
  data-prev-percentage="0"
  data-percentage="0"
  ;
>
  <div class="profile">
    <img
      src="images/profile-picture.jpg"
      alt="picture of CalebWONG"
      class="profile-picture | intro-load"
      draggable="false"
    />
    <div class="logo">
      <p>CalebWONG</p>
    </div>
    <p class="title">Visual Developer, Illustrator, Storyteller</p>
    <div class="location">
      <img class="link" src="./images/location.svg" alt="location" />
      <p>Ipoh, Malaysia</p>
    </div>
    <div class="email">
      <img class="link" src="./images/email.svg" alt="email address" />
      <p>inquiry@calebwong.space</p>
    </div>
  </div>
  <div id="biography" class="biography">
    <header class="header">
      <div class="paragraph">
        <div><span class="span-1">I’m an Independent Interactive</span></div>
        <div>
          <span class="span-2">Designer with years of experience in</span>
        </div>
        <div>
          <span class="span-3">building art direction and appealing</span>
        </div>
        <div><span class="span-4">web experiences.</span></div>
      </div>
      <div class="paragraph">
        <div>
          <span class="span-1">I specialize in visual design with a</span>
        </div>
        <div>
          <span class="span-2">strong focus on interaction. I also love</span>
        </div>
        <div>
          <span class="span-3">to illustrate elements to make each</span>
        </div>
        <div><span class="span-4">experience unique.</span></div>
      </div>
    </header>
    <section class="section">
      <h2>Working Experience</h2>
      <ul class="section-content spacing | default-last">
        <li>
          <div>Freelance Designer &amp; Art Director</div>
          <div class="passive">2022~Present</div>
        </li>
        <li>
          <div>Senior Designer AKQA Amsterdam</div>
          <div class="passive">2018~2022</div>
        </li>
        <li>
          <div>Designer DDB Tribal Amsterdam</div>
          <div class="passive">2016~2018</div>
        </li>
        <li>
          <div>Designer Fabrique Amsterdam</div>
          <div class="passive">2015~2016</div>
        </li>
        <li>
          <div>Intern Media Monks</div>
          <div class="passive">2014~2015</div>
        </li>
      </ul>
    </section>
    <section class="section">
      <h2>Awards &amp; Recognition</h2>
      <ul class="section-content spacing | default-last default-passive">
        <li>
          <div>Silver Webby Award</div>
          <div class="passive">Samsung Galaxy Watch 4 Wearable Design 2022</div>
        </li>
        <li>
          <div>Silver Webby Award</div>
          <div class="passive">Samsung Galaxy Watch 4 Visual Aesthetic</div>
        </li>
      </ul>
    </section>
    <section class="section">
      <h2>Brands I Worked With</h2>
      <ul class="section-content | default passive">
        <li>
          <div>Samsung</div>
        </li>
        <li>
          <div>Google</div>
        </li>
        <li>
          <div>Nike</div>
        </li>
        <li>
          <div>Sennheiser</div>
        </li>
        <li>
          <div>Gucci</div>
        </li>
      </ul>
    </section>
    <section class="section">
      <h2>Get In Touch</h2>
      <ul class="section-content | default">
        <li>
          <a class="passive" href="mailto:inquiry@calebwong.space">Email</a>
        </li>
        <li>
          <a
            class="passive"
            href="https://twitter.com/CamilleMormal"
            target="_blank"
            rel="noopener"
            >Twitter</a
          >
        </li>
        <li>
          <a
            class="passive"
            href="https://www.linkedin.com/in/camimormal"
            target="_blank"
            rel="noopener"
            >Instagram</a
          >
        </li>
        <li>
          <a
            class="passive"
            href="https://www.instagram.com/cami.channn"
            target="_blank"
            rel="noopener"
            >Facebook</a
          >
        </li>
        <li>
          <a
            class="passive"
            href="https://www.behance.net/CMormal"
            target="_blank"
            rel="noopener"
            >Discord</a
          >
        </li>
      </ul>
    </section>
    <section class="section">
      <h2>Credits</h2>
      <ul class="section-content spacing | default-last">
        <li>
          <div>Camille Mormal</div>
          <div>
            <a
              class="passive"
              href="https://camillemormal.com"
              target="_blank"
              rel="noopener"
              >Design Inspiration</a
            >
          </div>
        </li>
        <li>
          <div>Aristide Benoist</div>
          <div>
            <a
              class="passive"
              href="https://www.aristidebenoist.com"
              target="_blank"
              rel="noopener"
              >Motion &amp; Development</a
            >
          </div>
        </li>
      </ul>
    </section>
  </div>
</div>
