<div
  id="about"
  class="about"
  data-mouse-down-at="0"
  data-prev-percentage="0"
  data-percentage="0"
  ;
>
  <div class="profile">
    <img
      src="images/profile-picture.jpg"
      alt="picture of CalebWONG"
      class="profile-picture"
      draggable="false"
    />
    <p class="logo">CalebWONG</p>
    <p class="title">Visual Developer, Illustrator, Storyteller</p>
    <div class="location">
      <img class="link" src="./images/location.svg" alt="location" />
      <p>Ipoh, Malaysia</p>
    </div>
    <div class="email">
      <img class="link" src="./images/email.svg" alt="email address" />
      <p>inquiry@calebwong.space</p>
    </div>
  </div>
  <div id="biography" class="biography">
    <header>
      <p>
        <span>I’m an Independent Interactive</span>
        <br />
        <span>Designer with years of experience in</span>
        <br />
        <span>building art direction and appealing</span>
        <br />
        <span>web experiences.</span>
        <br />
      </p>
      <p>
        <span>I specialize in visual design with a</span>
        <br />
        <span>strong focus on interaction. I also love</span>
        <br />
        <span>to illustrate elements to make each</span>
        <br />
        <span>experience unique.</span>
        <br />
      </p>
    </header>
    <br />
    <section>
      <h2>Working Experience</h2>
      <ul>
        <li>
          <div>Freelance Designer</div>
          <div>&amp; Art Director</div>
          <div>2022 – Present</div>
        </li>
        <li>
          <div>Senior Designer</div>
          <div>AKQA Amsterdam</div>
          <div>2018~2022</div>
        </li>
        <li>
          <div>Designer</div>
          <div>DDB Tribal Amsterdam</div>
          <div>2016~2018</div>
        </li>
        <li>
          <div>Designer</div>
          <div>Fabrique Amsterdam</div>
          <div>2015~2016</div>
        </li>
        <li>
          <div>Intern</div>
          <div>Media Monks</div>
          <div>2014~2015</div>
        </li>
      </ul>
    </section>
    <br />
    <section>
      <h2>Awards &amp; Recognition</h2>
      <ul>
        <li>
          <div>Silver Webby Award</div>
          <div>Samsung Galaxy Watch 4</div>
          <div>Wearable Design 2022</div>
        </li>
        <li>
          <div>Silver Webby Award</div>
          <div>Samsung Galaxy Watch 4</div>
          <div>Visual Aesthetic</div>
        </li>
      </ul>
    </section>
    <br />
    <section>
      <h2>Brands I Worked With</h2>
      <ul>
        <li>
          <div>Samsung</div>
        </li>
        <li>
          <div>Google</div>
        </li>
        <li>
          <div>Nike</div>
        </li>
        <li>
          <div>Sennheiser</div>
        </li>
        <li>
          <div>Gucci</div>
        </li>
      </ul>
    </section>
    <br />
    <section>
      <h2>Get In Touch</h2>
      <ul>
        <li>
          <a href="mailto:inquiry@calebwong.space">Email</a>
        </li>
        <li>
          <a
            href="https://twitter.com/CamilleMormal"
            target="_blank"
            rel="noopener"
            >Twitter</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/camimormal"
            target="_blank"
            rel="noopener"
            >Linkedin</a
          >
        </li>
        <li>
          <a
            href="https://www.instagram.com/cami.channn"
            target="_blank"
            rel="noopener"
            >Instagram</a
          >
        </li>
        <li>
          <a
            href="https://www.behance.net/CMormal"
            target="_blank"
            rel="noopener"
            >Behance</a
          >
        </li>
      </ul>
    </section>
    <br />
    <section>
      <h2>Credits</h2>
      <ul>
        <li>
          <a
            href="https://www.aristidebenoist.com"
            target="_blank"
            rel="noopener"
          >
            <div>Aristide Benoist</div>
            <div>Motion &amp; Development</div>
          </a>
        </li>
        <li>
          <a
            href="https://klim.co.nz/retail-fonts/soehne"
            target="_blank"
            rel="noopener"
          >
            <div>Klim Type Foundry</div>
            <div>Söhne Buch</div>
          </a>
        </li>
      </ul>
    </section>
  </div>
</div>
