<div
  id="track"
  class="image-track intro-load | page"
  data-mouse-down-at="0"
  data-mouse-down-at-y="0"
  data-prev-percentage="0"
  data-percentage="0"
  data-image-order="0"
>
  <div class="image | selected">
    <h2 class="hero-text">
      <span>待</span>
      <span>续</span>
    </h2>
    <img src="images/img1.jpg" alt="img1" draggable="false" />
  </div>
  <div class="image | others">
    <h2 class="hero-text">
      <span>待</span>
      <span>续</span>
    </h2>
    <img src="images/img2.jpg" alt="img2" draggable="false" />
  </div>
  <div class="image | others" data-type="unfinished">
    <h2 class="hero-text">
      <span>待</span>
      <span>续</span>
    </h2>
    <img src="images/img3.jpg" alt="img3" draggable="false" />
  </div>
  <div class="image | others" data-type="unfinished">
    <h2 class="hero-text">
      <span>待</span>
      <span>续</span>
    </h2>
    <img src="images/img4.jpg" alt="img4" draggable="false" />
  </div>
</div>
