<div
  id="grid"
  class="store-grid"
  data-mouse-down-at="0"
  data-prev-percentage="0"
  data-image-order="0"
  data-percentage="0"
>
  <img src="images/img1.jpg" class="store" alt="img1" draggable="false" />
  <img src="images/img2.jpg" class="store" alt="img2" draggable="false" />
  <img src="images/img3.jpg" class="store" alt="img3" draggable="false" />
  <img src="images/img4.jpg" class="store" alt="img4" draggable="false" />
  <img src="images/img5.jpg" class="store" alt="img5" draggable="false" />
</div>
