@use 'colors' as *;
@use 'typography' as *;
@use 'sizes' as *;

// Contextual
$color-background-default: $color-neutral-900;
$color-background-light: $color-neutral-100;
$color-text-default: $color-neutral-100;
$color-text-interactive-default: $color-neutral-100;
$color-text-interactive-hover: $color-neutral-100;

$-grd-1: (#f2a38d, #f294bd, #af52ed, #9250d7, #af52ed, #f294bd, #f2a38d);

$-grd-2: (#052b2f, #073438, #0e4b50, #2d8f85, #637c54);

$color-gradient-1: $-grd-1;
$color-gradient-2: $-grd-2;

$breakpoint-medium: medium;
$breakpoint-small: small;

$opacity-active: 0.8;
$opacity-passive: 0.4;
$opacity-light: 0.2;

$letter-spacing-loose: 0.16em;

$border-radius-1: $size-1;
$border-radius-2: $size-3;
$border-radius-3: $size-5;
$border-radius-4: $size-7;

$box-shadow-1: 0px 6px 5px rgb(0, 0, 0, 0.012),
  0px 22px 18px rgb(0, 0, 0, 0.018), 0px 100px 80px rgb(0, 0, 0, 0.03);
$box-shadow-2: 0px 6px 5px rgb(0, 0, 0, 0.016),
  0px 22px 18px rgb(0, 0, 0, 0.024), 0px 100px 80px rgb(0, 0, 0, 0.04);
$box-shadow-3: 0px 6px 5px rgb(0, 0, 0, 0.02), 0px 22px 18px rgb(0, 0, 0, 0.03),
  0px 100px 80px rgb(0, 0, 0, 0.05);
$box-shadow-4: 0px 6px 5px rgb(0, 0, 0, 0.03), 0px 22px 18px rgb(0, 0, 0, 0.042),
  0px 100px 80px rgb(0, 0, 0, 0.07);
$box-shadow-5: 0px 6px 5px rgb(0, 0, 0, 0.04), 0px 22px 18px rgb(0, 0, 0, 0.06),
  0px 100px 80px rgb(0, 0, 0, 0.1);

// Body
$body-font-family: $font-family-regular;
$body-font-size-default: $font-size-400;
$body-font-size-bold: $font-size-700;
$body-font-size-focus: $font-size-800;
$body-font-weight-default: $font-weight-default;
$body-font-weight-bold: $font-weight-bold;
$body-line-height: 2;
$body-color-default: $color-text-default;
$body-color-inverted: $color-text-interactive-hover;
$body-color-inverted-passive: $color-text-interactive-default;
$body-background-color-default: $color-background-default;
$body-background-color-light: $color-background-light;

// General
$link-color: $color-text-interactive-default;
$link-color-hover: $color-text-interactive-hover;

$heading-font-family: $font-family-black;
$heading-font-weight: $font-weight-bold;
$heading-letter-spacing: $letter-spacing-loose;
$heading-line-height: 1;
$heading-text-transform: uppercase;
$heading-color-default: $body-color-default;

// Layout
$grid-gap: 0;
$flex-gap: $size-9;
$flex-group-gap: $size-11;
$flow-spacer: $size-2;

$hero-padding-block: clamp(15rem, 15vh, 20rem);
$section-padding-block: 20rem;
$paragraph-margin-spacing: 5rem;

$container-min-margin-inline: $size-8;
$container-max-width: 60rem;
$container-max-width-narrow: 45rem;
$container-max-width-wide: 75rem;

$card-body-padding: $size-8;

// Primary Header
$primary-header-padding-top: $size-9;
$primary-header-transition: all 300ms ease-in-out;

// Logo
$logo-width: 9rem;
$logo-height: 1.5rem;

// Navigation
$navigation-flex-column-gap: $size-9;
$navigation-text-transform: uppercase;
$navigation-color: $body-color-default;
$navigation-font-family: $body-font-family;
$navigation-font-size: $body-font-size-default;
$navigation-font-weight: $body-font-weight-bold;
$navigation-opacity-passive: $opacity-passive;
$navigation-opacity-transition: 500ms;
$navigation-hover-line-height: 2px;

// Call to Action
$hamburger-color: $body-color-default;
$cta-gap: $size-6;

// Overlay
$overlay-flex-row-gap: $size-10;
$overlay-font-size: $font-size-600;
$overlay-text-light-color: $body-color-default;
$overlay-text-medium-color: $body-color-default;
$overlay-text-dark-color: $body-color-inverted;
$overlay-text-medium-dark-color: $body-color-inverted-passive;
$overlay-background-color-default: $body-background-color-default;
$overlay-background-color-light: $body-background-color-light;
$overlay-top-transition: top 0.5s ease-in-out;
$overlay-opacity-transition: opacity 500ms;

// Primary Footer
$primary-footer-margin-block: $size-4 $size-2;
$primary-footer-linkmargin-block-mobile: $size-12 $size-8;
// Links
$link-flex-gap: $flex-gap;
$link-margin-block: 3vmin;
$link-margin-block-mobile: $size-6;
$link-width: $size-6;
$link-height: $size-6;
$link-opacity-passive: $opacity-passive;

// buttons
$button-font-family: $body-font-family;
$button-font-size: $body-font-size-default;
$button-font-weight: $body-font-weight-bold;

$button-padding-default: 0.5em 2.25em;
$button-text-transform: none;
$button-border-default: none;
$button-border-radius: $border-radius-4;
$button-transition: 0;

$button-primary-background: $color-primary-700;
$button-primary-color: $color-neutral-100;
$button-primary-background-hover: $color-primary-800;
$button-primary-color-hover: $color-neutral-100;

$button-accent-background: $color-neutral-900;
$button-accent-color: $color-neutral-100;
$button-accent-background-hover: $color-neutral-100;
$button-accent-color-hover: $color-neutral-100;

$button-gradient-background: $color-neutral-900;
$button-gradient-color: $color-neutral-100;
$button-gradient-background-hover: rgba(0, 0, 0, 0);
$button-gradient-color-hover: $color-neutral-100;
$button-gradient-border-width: -0.125rem;
$button-gradient-conic: $color-gradient-1;

// cards
$card-font-family: $body-font-family;
$card-flow-spacing: $size-2;
$card-padding: $size-8;
$card-line-height: 1.25;
$card-border-radius: $border-radius-2;
$card-box-shadow: $box-shadow-1;
$card-color-default: $body-background-color-default;
$card-background-default: $color-primary-100;

$card-heading-font-size: $font-size-600;
$card-heading-color-default: $card-color-default;

// image track
$image-gap: 10%;
// $image-object-position-default: 50% center;
$image-clip-width-default: 30vmin;
$image-clip-width-min: 15rem;
// $image-clip-width-default: 100%;
$image-clip-height-default: inset(18% 0% 18% 0%);
$image-clip-height-hidden: 100%;
$image-transition-width: width 1s ease-in-out 150ms;
$image-transition-height: clip-path 0.75s ease-in-out;
$image-transition-transform: transform 0.5s ease-in-out;
$image-clip-selected-width: 100%;
$image-clip-selected-height: inset(0 0 0 0);
$image-clip-selected-height-hidden: 100%;
$image-clip-selected-width-transition: width 1s ease-out;
$image-clip-selected-height-hidden-transition: height 1s ease-in-out;
$image-clip-selected-height-transition: clip-path 1.8s ease-in-out;
$image-clip-other-width: 100%;
$image-clip-other-height: inset(100% 0 100% 0);
$image-clip-other-height-hidden: 100%;
$image-clip-other-width-transition: width 1s ease-out 500ms;
$image-clip-other-height-hidden-transition: height 1s ease-in-out;
$image-clip-other-height-transition: clip-path 1.8s ease-in-out;
